@font-face {
    font-family: Walsheim;
    src: url(fonts/Walsheim.ttf) format("truetype");
}

* {
    box-sizing: border-box;
    font-family: Walsheim, sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: calc(1em + 1vw);
}

body {
    margin: 0;
    padding: 0;
}
    
.navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #e30d18;
}

.brand-logo {
    width: 4.0em;
    margin: 0.5em;
    float: left;
}

.navbar-links ul {
    float: right;
    margin: 0.5em;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #e30d18;
    padding: 0.5em 0.6em;
    display: block;
    text-transform : lowercase;
    width: 6em;
    text-align: center;
}

.navbar-links li:hover {
    background-color: #e30d18;
    transition: .5s;
}

.navbar-links li a:hover {
    color: white;
    transition: .3s;
}

/* @media (max-width: 200px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links:active {
        display: flex;
    }
} */

.main {
    grid-area: main;
    display: grid;
    grid-template-areas: 'home' 'about-us' 'menu' 'contact';
    grid-gap: 50px;
    text-align: center;
    justify-items: center;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

.home {
    animation: 1s ease-out home;
    grid-area: home;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 0;
    min-height: 80vh;
    max-width: 100vw;
}

.about-us,
.menu {
    grid-area: abouta;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 10%;
    min-height: 90vh;
    max-width: 100vw;
}

.menu {
    grid-area: projectsa;
    padding-top: 5vh;
    max-width: 100vw;
}

.menustiles img {
    margin: 0 40px 0 40px;
    transition: 0.15s ease-out;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.menustiles img:hover {
    transition: 1s;
    transform: scale(1.5);
    box-shadow: none;
    cursor: pointer;
}

.contact {
    grid-area: contacta;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 10%;
    min-height: 90vh;
    max-width: 90vw;
}

.responsive {
    max-width: 100%;
    height: auto;
}

footer {
    font-size: 0.3em;
    background: rgba(0, 0, 0, 0.5);
    min-width: 90vw;
    max-width: 100vw;
}

@keyframes navIn {
    0% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes helloIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width:700px) {
    * {
        font-size: 16px;
    }
    .projectstiles img:hover {
        transition: 0.3s;
        transform: scale(1.1);
        box-shadow: none;
    }
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    background: rgb(90, 90, 90);
}

body::-webkit-scrollbar-thumb {
    background: rgb(27, 27, 27);
}

#input {
    background: var(--mainbgcolor);
    color: var(--mainfontcolor);
}

#button {
    color: var(--mainfontcolor);
    background: rgba(46, 46, 46, 0.664);
}

#input,
#button {
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-bottom: solid 2px rgb(51, 51, 51);
    border-right: solid 2px rgb(51, 51, 51);
}